name: R-CMD-check

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  R-CMD-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-r@v2
      - uses: r-lib/actions/setup-pandoc@v2
      - name: Install dependencies
        run: Rscript -e 'install.packages(c("devtools","rmarkdown"))'
      - name: Check (no package)
        run: Rscript -e 'sessionInfo(); cat("OK\n")'
